<div class="col-2 bg-light px-0 shadow border-end">
    <div class="sidebar" style="position: sticky; top: 90px; height: auto;">
        <div class="sidebar-heading text-center" >
            <h4 class="text-dark mt-3">DASHBOARD</h4>
        </div>
        <nav class="px-0 mt-4">
            <a href="/">VIEW BLOGS</a>
            <a href="/create">ADD BLOGS</a>
            <a href="">SPORTS</a>
            <a href="">EDUCATION</a>
            <a href="">BUSINESS</a>
            <a href="">POLITICS</a>
            <a href="">E-COMMERCE</a>
            <a href="/logout">LOG OUT</a>
        </nav>
    </div>
</div>